# Data Analysis using Pandas 
    * Indexing 
    * Grouping  
    * Features  
    * Filtering  
    * Sorting  
    * Statistical  
    * Plotting  
    * Saving

# 4. Indexing

In [3]:
import pandas as pd

In [8]:
birds = pd.read_csv("https://raw.githubusercontent.com/APSSDC-Data-Analysis/DataAnalysisBatch-6/main/08-10-2020(Day-4)/Datasets/birds.csv")
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO

In [9]:
birds.head() # 5 default

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [10]:
birds["huml"][415]

17.96

In [11]:
birds[["huml"],[415]]

InvalidIndexError: (['huml'], [415])

### i Loc attribute --- Integer slicing --- implicit indexng
### Loc --- Interger / non integer indicies  -- explicit indexing

In [ ]:
birds.iloc[100] # 100th recods

In [ ]:
birds.iloc[20:100:20]  # start,end, step

In [ ]:
birds[100]

In [ ]:
birds.loc[100]

In [ ]:
birds.loc[100:150]

In [ ]:
birds.loc[415,"huml"]

In [ ]:
birds.loc[10:20,"huml"]

In [ ]:
birds.loc[100:120,["huml","humw"]]

In [ ]:
birds.columns

In [ ]:
birds.head()

In [ ]:
bird = birds.set_index("type")
bird.head()

In [ ]:
bird.loc["SW","huml"]

In [ ]:
bird.reset_index()

In [ ]:
birds.loc[100,"type"]

In [ ]:
birds.at[100,"type"]

#  5. Grouping

In [12]:
birds.head()

   id   huml  humw  ulnal  ulnaw   feml  femw   tibl  tibw   tarl  tarw type
0   0  80.78  6.68  72.01   4.88  41.81  3.70   5.50  4.03  38.70  3.84   SW
1   1  88.91  6.63  80.53   5.59  47.04  4.30  80.22  4.51  41.50  4.01   SW
2   2  79.97  6.37  69.26   5.28  43.07  3.90  75.35  4.04  38.31  3.34   SW
3   3  77.65  5.70  65.76   4.77  40.04  3.52  69.17  3.40  35.78  3.41   SW
4   4  62.80  4.84  52.09   3.73  33.95  2.72  56.27  2.96  31.88  3.13   SW

In [ ]:
kaggle.com --- birds bones living habits

In [ ]:
birds.shape

In [ ]:
birds["type"].unique()

In [ ]:
g_birds = birds.groupby("type")
g_birds  # group_name , records

In [ ]:
for g_name,records in g_birds:
    print(g_name,records)

In [ ]:
g_birds.get_group("SO") # so bird records

In [ ]:
g_birds.first() # it returns first record of each group

In [ ]:
g_birds.last()

In [ ]:
g_bir = birds.groupby(["type","id"])
g_bir.first()

In [ ]:
g_birds.mean()

In [ ]:
g_birds.get_group("P").mean()

In [ ]:
g_birds.get_group("SO").sum()

In [ ]:
g_birds.get_group("SO").max()

# Task:

* read titanic dataset 
* group them by survived or nor 
* calculate sum of survived data

In [ ]:
is my screen visible?
please respond

# 6. Features   
* Labels 
* columns

In [13]:
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO

In [14]:
birds.shape[1]

12

In [16]:
birds["length"] = birds["type"].str.len()
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2

In [17]:
birds.head()

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2

In [ ]:
birds[birds.columns[1:-2]].mean(axis = 1) # default it's 0

In [18]:
birds["features_mean"] = birds[birds.columns[1:-2]].mean(axis = 1)

In [19]:
birds

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,features_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

# 7.Filtering

In [ ]:
birds.count()

In [ ]:
birds["tarw"].min()

In [ ]:
birds["id"].max()

In [ ]:
birds["huml"].max()

In [ ]:
birds["huml"].min()

In [20]:
birds["huml"] > 90

0      False
1      False
2      False
3      False
4      False
       ...
415    False
416    False
417    False
418    False
419    False
Name: huml, Length: 420, dtype: bool

In [ ]:
birds[birds["huml"]>90]

In [ ]:
birds[(birds["huml"] > 90) & (birds["huml"] < 150)]   # | = or  & = and

In [ ]:
birds[birds["type"] == "P"]

In [21]:
birds[birds["type"]=="SO"].all(axis = 1) # it returns True when anyone value is trie (OR gate)

292    True
293    True
294    True
295    True
296    True
       ...
415    True
416    True
417    True
418    True
419    True
Length: 128, dtype: bool

In [ ]:
birds[birds["type"]=="SO"].any(axis = 1)# And gate

In [ ]:
birds[birds["huml"]> 90].all(axis = 1).sum()

In [ ]:
birds[birds["huml"]> 90].shape

In [ ]:
birds[birds["type"]=="SW"].all(axis = 1).sum()  # AND

In [ ]:
0  - 419

In [ ]:
birds[birds["type"]=="SW"].any(axis = 1).sum()  # OR

# 9. Sorting

In [ ]:
birds.sort_index(axis = 1, ascending=True)

In [ ]:
birds.sort_index(axis = 1, ascending=False) # label sorting

In [22]:
birds.sort_index(axis = 0, ascending=True)

,id,huml,humw,ulnal,ulnaw,feml,femw,tibl,tibw,tarl,tarw,type,length,features_mean
0,0,80.78,6.68,72.01,4.88,41.81,3.70,5.50,4.03,38.70,3.84,SW,2,26.193
1,1,88.91,6.63,80.53,5.59,47.04,4.30,80.22,4.51,41.50,4.01,SW,2,36.324
2,2,79.97,6.37,69.26,5.28,43.07,3.90,75.35,4.04,38.31,3.34,SW,2,32.889
3,3,77.65,5.70,65.76,4.77,40.04,3.52,69.17,3.40,35.78,3.41,SW,2,30.920
4,4,62.80,4.84,52.09,3.73,33.95,2.72,56.27,2.96,31.88,3.13,SW,2,25.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,17.96,1.63,19.25,1.33,18.36,1.54,31.25,1.33,21.99,1.15,SO,2,11.579
416,416,19.21,1.64,20.76,1.49,19.24,1.45,33.21,1.28,23.60,1.15,SO,2,12.303
417,417,18.79,1.63,19.83,1.53,20.96,1.43,34.45,1.41,22.86,1.21,SO,2,12.410
418,418,20.38,1.78,22.53,1.50,21.35,1.48,36.09,1.53,25.98,1.24,SO,2,13.386
419,419,17.89,1.44,19.26,1.10,17.62,1.34,29.81,1.24,21.69,1.05,SO,2,11.244

In [ ]:
birds.sort_index(axis = 0, ascending=False) # row index sorting

In [ ]:
birds.sort_values(by = "type",ascending=True)

In [ ]:
birds.sort_values(by = ["type","huml"], ascending=True)

# 10. Statistics

add,sub,mul,div,mod,power, mean,median,std, variance,min, max, counting... etc

In [ ]:
birds.mean()

In [ ]:
birds["huml"].median()

In [ ]:
birds[["huml","tarw"]].sum()

In [ ]:
birds.describe()

In [ ]:
birds["type"].value_counts()

In [ ]:
birds["type"].mode()

In [ ]:
import  numpy as np
birds["huml"].agg([np.mean,np.min,np.max])

In [ ]:
birds["huml"].max()

In [ ]:
birds["huml"].argmax() # huml max values index position

In [ ]:
birds["huml"].idxmax()

In [ ]:
birds["huml"].idxmin()

In [ ]:
birds["huml"].std()

# 11. Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
birds.plot()
plt.show()

In [ ]:
birds["huml"].plot()
plt.show()

# 12. Saving

In [ ]:
s_data = birds.describe()

In [ ]:
s_data.to_excel("birds_description.xlsx")  # exporting final data into excel file

In [ ]:
s_data.to_csv("birds_descript.csv")

# Cleaning data in Python 


* NaN : not a number -- special floating-point value
* Working with duplicates and missing values
    * isnull()
    * notnull()
    * dropna()
    * fillna()
    * replace()
* Which values should be replaced with missing values based on data identifying and eliminating outliers

* Dropping duplicate data



#### Identifying and Eliminating Outliers
* Outliers are observations that are significantly different from other data points
* Outliers can adversely affect the training process of a machine learning algorithm, resulting in a loss of accuracy.
* Need to use the mathematical formula and retrieve the outlier data.

     **interquartile range(IQR) = Q3(quantile(0.75)) âˆ’ Q1(quantile(0.25))**

In [ ]:
emp = pd.read_csv("https://raw.githubusercontent.com/APSSDC-Data-Analysis/DataAnalysisBatch-6/main/08-10-2020(Day-4)/Datasets/employe.csv")
emp.head()

In [ ]:
emp.shape

In [ ]:
emp.isnull().  # missing values

In [ ]:
emp.notnull().sum()

# Droping

In [ ]:
emp.shape

In [ ]:
emp.dropna().shape

In [ ]:
1000-764

### ILOC and LOC

In [ ]:
birds["huml"][1]

In [ ]:
birds["huml"][10:15]

In [ ]:
birds.loc[10,["huml","type"]]

In [ ]:
birds[0]  # get 0 th record

In [ ]:
birds.iloc[0]

In [ ]:
birds.loc[10:20,["huml","type"]]